<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/admin/positions" method="post">
      Positions:<br>
      <textarea rows="10" cols="100" name="positions">President:A,B;C</textarea><br>
      <input type="submit" value="Submit">
    </form> 
    <br>
    <form action="/admin/kerberos" method="post">
      Voters:<br>
      <textarea rows="10" cols="100" name="kerberos">ldaquila</textarea><br>
      <input type="submit" value="Submit">
    </form>    
  </body>
</html>
