<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form name="login" action="" method="post">
      Admin Password: <input required type="password" name="password">
      <input type="submit" value="Login">
    </form> 
  </body>
</html>
