<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Create a new person</h1>
    <form name="input" action="create" method="post">
      Username: <input type="text" name="user">
      Age: <input type="text" name="user_age">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
