h1{
	text-align: center;
	font:22px;
}

h2 {
    text-align: center;
    font: 30px "Verdana";
    font-style: italic;
}

h3 {
    text-align: center;
    font: 22px "Verdana";
    font-style: italic;
}

body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-image:  url("McCormick.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 90% 0%; */
  background-color: pink;
}



a {
  color: #00B7FF;
}